# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Runtime logs
logs/*
!logs/.gitkeep

# Runtime bot data
bot_data/*
!bot_data/.gitkeep

# Runtime module data
modules/neverboost_playerok/module_data/*
!modules/neverboost_playerok/module_data/.gitkeep
*.env
.env
data/*.sqlite3
__pycache__/
.pytest_cache/
data/*.json
!data/config.example.json
logs/*
!logs/.gitkeep
.venv/
